<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Manager</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <div class="container">
        <div>
            <a href="/user/register"><button class="big-button">Register</button></a>
            <a href="/user/login"><button class="big-button">Log in</button></a>
        </div>
    </div>
</body>
</html>